.message{
    width: 70%;
    display: inline-block;
    margin-top: 20px;
    border-radius: 0;
    border: .5px solid #ffd600;
    background-color:#337066
    ;
    
    .title{
        font-size: 25px;
        padding-left: 10px;
        color: white;
    }
    
}



.reply{
    
    width: 70%;
    display: inline-block;
    margin-top: 0px;
    border-radius: 0;
    border-top: 0px;
    border-bottom: .5px solid #ffd600;
    border-right: .5px solid #ffd600;
    border-left: .5px solid #ffd600;
    background-color: #26a69a;
    
    .reply-content{
        display: inline-block;
        width: 50%;
        font-size: 22px;
        font-style: oblique;
        padding-left: 25px;
        color: white;
        

        .reply-hint{
            font-size: 18px;
            font-style: oblique;
        }
    }
    
    
}


